* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /*se refere ao tamanho total do elemento. Considera o padding e border. */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feed-wrapper {
    margin: 0 auto;
}

.profile-box {
    display: flex;
    padding: .5rem 0rem .5rem 0rem;
}

.profile-img {
    width: 20%;
    margin: 0rem 1.5rem 0rem .5rem;
}

.profile-img img {
    width: 100%;
    max-width: 100px;
    min-width: 70%;
    border-radius: 50%;
}

.name-information {
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.user-role {
    font-size: .7em;
}

.post-box {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #701741;
    border-radius: 5px;
}

.post-box form {
    width: 100%;
}

.post-text {
    width: 100%;
    height: 6rem;
    border: 1px;
    padding: 5px;
    margin: 2px;
    resize: none;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.post-box .interaction-space {
    display: flex;
    justify-content: space-between;
}

.btn-style {
    background-color: #701741;
    color: white;
    font-size: 1rem;
    height: 2rem;
    width: 6rem;
    padding: 5px;
    border-radius: 4px;
}

.posted-box {
    background-color: white;
    border: 2px solid #701741;
    margin: 16px 16px 20px 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.posted-elements {
    border: 2px solid #701741;
    border-radius: 8px;
}

.published-by {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #70174073;
}

.posted-text {
    background-color: whitesmoke;
    padding: 1rem;
    word-wrap: break-word;
}

.posted-box .interaction-space {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.by-line {
    font-size: 1rem;
    font-weight: 400;
}

.btn-space {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.like-btn {
    color: #701741;
    font-size: 1.8rem;
    padding: 0px 0px 0px 5px;
    background: none;
    cursor: pointer;
}

.like-space {
    display: flex;
    padding-left: 10px;
}

.like-btn:hover {
    opacity: 0.7;
}

.like-number {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
}

.space-comment {
    padding: 5px 0px 0px 0px;
    margin: 5px;
}

.space-wrapper {
    display: flex;
    justify-content: space-between;
}

.write-space-comment {
    resize: none;
    border: 2px solid #701741;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    background-color: whitesmoke;
}

.commented-wrapper {
    padding: 2px 2px 2px 2px;
    border-radius: 8px;
    margin: 5px 5px 5px 5px;
    word-wrap: break-word;
    align-items: center;
}

.close-box {
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
}

.icon-comment-style {
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;
    color: #701741;
}

.btn-save-comment {
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    color: #701741;
}

.space-commented {
    background-color: #ebe1e5;
    margin: 3px 3px 3px 3px;
    padding: 0px 5px 8px 8px;
    border-radius: 8px;
    border: 1px solid whitesmoke;
}

.privacy-wrapper {
    display: flex;
}

.privacy-wrapper>* {
    padding: 10px;
}

.all-buttons {
    display: flex;
    justify-content: space-between;
}

.icon-style {
    background-color: transparent;
    font-size: 100px;
    cursor: pointer;
}


/* css para tablet em pé */

@media (min-width: 500px) {
    .big-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
}


/* @media (min-width: 768px) and (min-height: 1024px) {
    .write-space-comment {
        height: 60px;
        width: 600px;
        margin-top: 7px;
    }
}*/


/* css para tablet deitado */


/* @media (min-width: 1024px) and (min-height: 759px) {
    .write-space-comment {
        height: 60px;
        width: 850px;
        margin-top: 7px;
    }
    .btn-save-comment {
        margin-left: 8px;
    }
} */


/* css para ipad pro deitado e desktop */


/* @media (min-width: 980px) and (min-height: 760px) {
    .big-box {
        display: flex;
        line-height: 3rem;
        height: 755px;
        width: 1300px;
        justify-content: center;
    }
    .write-space-comment {
        height: 70px;
        width: 350px;
        margin-top: 7px;
    }
    .left-side {
        width: 438px;
    }
    .right-side {
        width: 529px;
    }
    .user-informations {
        font-weight: 500;
        font-size: 1em;
        line-height: 3rem;
    }
    .user-role {
        font-size: 1.1rem;
    }
    .published-by {
        line-height: 2rem;
    }
    .privacy-wrapper {
        line-height: 0px;
    }
} */