.login-wrapper,
.signup-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    line-height: 3rem;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    width: 10rem;
}

.welcome {
    font-size: 1rem;
    font-weight: 500;
}

.sign-login {
    height: 2rem;
    width: 15rem;
    margin: 4px;
    padding: 5px;
    border: 1px solid #701741;
    border-radius: 4px;
}

.message-error {
    color: red;
    font-size: .8rem;
    text-decoration: underline;
}

.btn-login,
.btn-register {
    background-color: #701741;
    color: white;
    font-size: 1rem;
    height: 2rem;
    width: 6rem;
    padding: 5px;
    border-radius: 4px;
}

.sign-google .create-account {
    font-size: 1rem;
    font-weight: 400;
}

.icon-google img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.icon-google img {
    width: 2rem;
}


/* css para tablet em pé */

@media (min-width: 768px) and (min-height: 1024px) {
    .login-wrapper,
    .signup-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        line-height: 3rem;
        height: 1024px;
        width: 768px;
        background-image: url(images/primeiro\ fundo.png);
        background-size: cover;
        padding-top: 8rem;
    }
    .logo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .logo img {
        width: 20rem;
        height: auto;
    }
    .welcome {
        font-size: 2.5rem;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .sign-login {
        height: 3rem;
        width: 25rem;
        margin: 15px;
        padding: 15px;
        border: 2px solid #701741;
        border-radius: 6px;
        font-size: 20px;
    }
    .message-error {
        font-size: 1.5rem;
    }
    .btn-login,
    .btn-register {
        margin-top: 20px;
        font-size: 1.5rem;
        height: 3rem;
        width: 10rem;
        padding: 4px;
        border-radius: 6px;
        align-items: center;
    }
    .btn-box {
        margin-bottom: 8rem;
    }
    .sign-google,
    .create-account {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .icon-google img {
        width: 3rem;
    }
}


/* css para tablet deitado */

@media (min-width: 1024px) and (min-height: 768px) {
    .login-wrapper,
    .signup-wrapper {
        display: flex;
        padding: 0px;
        line-height: 4rem;
        height: 747px;
        width: 1000px;
        /* background-image: url(images/icones-medios.png); */
        /* background-image: url(images/icones-pequenos-menor-quantidade.png); */
        /* background-image: url(images/icones-pequenos-maior-quantidade.png);*/
        background-image: url(images/primeiro\ fundo.png);
        background-size: cover;
    }
    .logo {
        align-items: center;
        position: absolute;
        width: 50%;
        height: 100%;
    }
    .logo img {
        margin: 5rem 5rem 10rem 3rem;
        width: 30rem;
        height: auto;
    }
    .sign-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        background-color: rgba(255, 255, 255, 40%);
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
    }
    .welcome {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .sign-login {
        height: 2.5rem;
        width: 18rem;
        border: 2px solid #701741;
        border-radius: 6px;
    }
    .message-error {
        font-size: 1.5rem;
    }
    .btn-login,
    .btn-register {
        font-size: 1.5rem;
        height: 3rem;
        padding: 4px 4px 4px 4px;
        align-items: center;
        border-radius: 6px;
    }
    .btn-login {
        width: 7rem;
    }
    .btn-register {
        width: 8rem;
    }
    .sign-google,
    .create-account {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .icon-google img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 3rem;
    }
}


/* css para ipad pro em pé*/

@media (min-width: 1024px) and (min-height: 1366px) {
    .login-wrapper,
    .signup-wrapper {
        display: flex;
        padding: 0px;
        line-height: 5rem;
        height: 1366px;
        width: 1024px;
    }
    .signup-wrapper .sign-box {
        bottom: 0px;
    }
    .logo img {
        margin: 2rem 5rem 22rem 5rem;
        width: 26rem;
        height: auto;
    }
    .welcome {
        font-size: 2rem;
    }
    .sign-login {
        height: 3.5rem;
        width: 20rem;
    }
    .btn-login {
        font-size: 2rem;
        height: 3.5rem;
        width: 8.5rem;
        margin-top: 20px;
    }
    .btn-register {
        font-size: 2rem;
        height: 3.5rem;
        width: 9.5rem;
        margin-top: 5px;
    }
    .sign-google,
    .create-account {
        font-size: 1.6rem;
    }
    .icon-google img {
        width: 4rem;
    }
}


/* css para ipad pro deitado*/

@media (min-width: 1366px) and (min-height: 1024px) {
    .login-wrapper,
    .signup-wrapper {
        line-height: 5rem;
        height: 1024px;
        width: 1366px;
    }
    .signup-wrapper .sign-box {
        bottom: 0px;
    }
    .logo {
        align-items: center;
        position: absolute;
        width: 50%;
        height: 100%;
    }
    .logo img {
        margin: 2rem 8rem 15rem 8rem;
        width: 30rem;
        height: auto;
    }
    .sign-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        background-color: rgba(255, 255, 255, 40%);
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
    }
    .welcome {
        font-size: 2rem;
    }
    .sign-login {
        height: 3.5rem;
        width: 25rem;
    }
    .btn-login {
        font-size: 2rem;
        height: 3.5rem;
        width: 8.5rem;
        margin-top: 15px;
    }
    .btn-register {
        font-size: 2rem;
        height: 3.5rem;
        width: 10rem;
        margin-top: 5px;
    }
    .sign-google,
    .create-account {
        font-size: 1.6rem;
    }
}


/* css para desktop */

@media (min-width: 1300px) and (min-height: 600px) {
    .login-wrapper,
    .signup-wrapper {
        line-height: 4rem;
        height: 480px;
        width: 1200px;
        background-image: url(images/primeiro\ fundo.png);
        background-size: cover;
    }
    .signup-wrapper .sign-box {
        bottom: 0px;
    }
    .sign-box {
        padding-top: 20px;
    }
    .logo {
        align-items: center;
        position: absolute;
        width: 50%;
        height: 100%;
    }
    .logo img {
        margin: 2rem 5rem 10rem 10rem;
        width: 30rem;
        height: auto;
    }
    .sign-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        background-color: rgba(255, 255, 255, 40%);
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
    }
    .welcome {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }
    .sign-login {
        height: 2.5rem;
        width: 20rem;
        border: 2px solid #701741;
        border-radius: 6px;
    }
    .btn-login,
    .btn-register {
        font-size: 1.3rem;
        height: 2.5rem;
        padding: 4px 4px 4px 4px;
        align-items: center;
        border-radius: 6px;
    }
    .btn-login {
        width: 6.5rem;
    }
    .btn-register {
        width: 8rem;
    }
    .btn-box {
        margin-bottom: 8rem;
    }
    .sign-google,
    .create-account {
        font-size: 1.5rem;
        font-weight: 400;
    }
}


/* deixei comentado porque com essas medidas não estava dando certo...
 @media (min-width: 1366px) and (min-height: 768px) {
    .login-wrapper,
    .signup-wrapper {
        line-height: 5rem;
        height: 768px;
        width: 1366px;
    }
    .signup-wrapper .sign-box {
        bottom: 0px;
    }
    .logo {
        align-items: center;
        position: absolute;
        width: 50%;
        height: 100%;
            }
    .logo img {
        margin: 5rem 5rem 10rem 3rem;
        width: 30rem;
        height: auto;
    }
} */